*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    overflow: hidden;
}

section{
    height: 100vh;
    text-align: center;
}

section p{
    max-width: 75%;
    margin: 16px auto;
}